@import url('https://fonts.googleapis.com/css2?family=Elsie+Swash+Caps:wght@900&family=Montserrat&display=swap');

:root {
  --background-white: #FFFFFF;
  --font-black: #202020;
  --font-yellow: #FFCB47;

  --ff-title: 'Elsie Swash Caps', cursive;
  --ff-text: 'Montserrat', sans-serif;
  --fw-title: 900;
  --fw-text: 400;
}